<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form class="form" method="POST" action="/patient_signup">
    <div class="card card-login">
      <h2 class="card-title text-center">Student Sign Up</h2>
      <!-- <div class="social-line">
        <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
          <i class="fa fa-google-plus"></i>
        </a>
      </div> -->
      <div class="card-body ">
        <span class="bmd-form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Full Name
              </span>
            </div>
            <input name="fname" type="text" class="form-control" placeholder="Please enter your full name..." r
          </div>
        </span>
        <span class="bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  Full Name
                </span>
              </div>
              <input name="lname" type="text" class="form-control" placeholder="Please enter your full name..."
            </div>
          </span>
          <span class="bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  Full Name
                </span>
              </div>
              <input name="mname" type="text" class="form-control" placeholder="Please enter your full name..."
            </div>
          </span>
          <span class="bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  Full Name
                </span>
              </div>
              <input name="lname" type="text" class="form-control" placeholder="Please enter your full name..."
            </div>
          </span>
          <form action="">
            <input type="radio" name="gender" value="male" checked> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
            <input type="radio" name="gender" value="other"> Other
          </form> 
          <label for="birthday">Birthday:</label><input type="date" id="birthday" name="dob">
      
        <span class="bmd-form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                e-mail ID
              </span>
            </div>
            <input name="email" type="email" class="form-control" placeholder="Please enter your e-mail ID..." 
          </div>
        </span>
        <span class="bmd-form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Enter Password
              </span>
            </div>
            <input name="password" type="password" class="form-control" placeholder="Password..." required>
          </div>
        </span>
        <span class="bmd-form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Re-type Password
              </span>
            </div>
            <input name="password2" type="password" class="form-control" placeholder="Re-type Password..." requ
          </div>
        </span>
      </div>
      <div class="card-footer justify-content-center">
        <button type="submit" class="btn btn-danger btn-raised btn-lg">Register</button>
      </div>
    </div>
  </form>
  <form action="/" method="GET">
    <button type="submit" class="btn btn-danger btn-raised btn-lg">Back</button>
  </form>
</body>
</html>