<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<body>
    <div class="login">
       <h1> covid prediction </h1>
        
       <form action="{{ url_for('predict')}}"method="post">
                   <input class="form-input" type="text" name="age" placeholder="age above 60 0-2"><br>
                   <input class="form-input" type="text" name="cough" placeholder="cough"><br>
                   <input class="form-input" type="text" name="fever" placeholder="fever"><br>
                   <input class="form-input" type="text" name="sorethroat" placeholder="sorethroath"><br>
                   <input class="form-input" type="text" name="shortbreath" placeholder="shortness of breath"><br>
                   <input class="form-input" type="text" name="headache" placeholder="headache"><br>
                   <input class="form-input" type="text" name="cic" placeholder="cic"><br>
                   <input class="form-input" type="text" name="gender" placeholder="cic"><br>
           <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
       </form>
       <br>
      <br>
      {{ prediction_text }}
    </div>
   
   </body>
</body>
</html>